apiVersion: v1
kind: ConfigMap
metadata:
  name: yellowbooks-config
  namespace: yellowbooks
data:
  NODE_ENV: production
  NEXT_PUBLIC_BACKEND_URL: "http://api.yellowbooks.svc.cluster.local:3001"
  DATABASE_URL: "postgresql://yellbook:yellbook@postgres.yellowbooks.svc.cluster.local:5432/yellbook"

---
apiVersion: v1
kind: Secret
metadata:
  name: yellowbooks-secrets
  namespace: yellowbooks
type: Opaque
stringData:
  DATABASE_PASSWORD: "yellbook"
  POSTGRES_PASSWORD: "yellbook"
  JWT_SECRET: "your-jwt-secret-change-in-production"
